body {
  font-family: Arial, sans-serif;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #089dcb;
}

h1 {
  color: #333;
}

form input[type="text"] {
  width: 200px;
  padding: 5px;
}

button {
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

li button {
  margin-left: 5px;
}
